#vermelho{
    background-color: red;
    width: 999999999999999999999999px;
    height: 999999999999999999999999px;
}

#amarillo{
    background-color: yellow;
    width: 999999999999999999999999px;
    height: 999999999999999999999999px;
}
#azuli{
    background-color: blue;
    width: 999999999999999999999999px;
    height: 999999999999999999999999px;
}